[server]
# maxsingleinputsize=1mb
maxsingleinputsize=2000mb
# maxrequestsize=3mb
maxrequestsize=2000mb
url=http://localhost:6543/wps
outputurl=http://localhost:6543/outputs/
outputpath=/pywps/outputs
workdir=/pywps

statuspath=/pywps/outputs
statusurl=http://localhost:6543/status/

# maxprocesses=10
# parallelprocesses=4
storage = FileStorage
# storage = SwiftStorage

[logging]
# setting this to a higher level (e.g. DEBUG) will cause sqlalchemy to echo all logging statements
level=INFO
# file=logs/pywps.log
database=sqlite:////pywps-log/pywps-logs.sqlite3

[processing]
# mode = default
mode = multiprocessing
# mode = scheduler
# mode = threads

[SwiftStorage]
# either configure temp_url_key here or set env var TEMP_URL_KEY
# temp_url_key =
container = wps_outputs
